<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>
        <%- include('../partials/sidebar') %>
        <main style="margin-left: <% if (user) { %>250px<% } else { %>0px<% } %>; min-height: calc(100vh - 70px);" class="main-content">
            <%- body %>
        </main>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>